.editList {
  max-width: 500px;
  margin: 0 auto;
}

.editMainTitle {
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 40px;
}

.editListTitleLabel {
  display: block;
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 24px;
}

.editListTitle {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #55555545;
  border-radius: 8px;
  padding: 16px;
}

.deleteListButton {
  background-color: #ff3333d1;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  margin-top: 24px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.deleteListButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.editListButton {
  background-color: #6bbcb6f0;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  margin-top: 24px;
  margin-left: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.editListButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.errorMessage {
  color: #ff3333d1;
}

@media screen and (max-width: 768px) {
  .editList {
    padding: 0 12px;
  }

  .editMainTitle {
    font-size: 24px;
    margin-top: 24px;
  }

  .editListTitleLabel {
    margin-top: 18px;
  }

  .editListTitle {
    padding: 12px;
    margin-top: 4px;
  }

  .deleteListButton {
    width: 100%;
  }

  .editListButton {
    width: 100%;
    margin-left: 0;
    margin-top: 18px;
  }
}

@media screen and (max-width: 375px) {
  .editMainTitle {
    font-size: 20px;
  }
}
