@charset "utf-8";

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  color: #555555;
}

.edit-task-title, .edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: #242F9B;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}