.taskList {
  margin: 50px auto;
  list-style: none;
  width: 1000px;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-menu {
  text-align: right;
}

.list-tab {
  list-style: none;
  display: flex;
  overflow-x: auto;
}

.list-tab-item {
  flex-shrink: 0;
  width: 100px;
  padding: 0 25px;
  text-overflow: normal;
  margin-right: 5px;
  border: solid 1px #242f9b;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #242f9b;
  color: #ffffff;
}

.tasks {
  margin-top: 25px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
}

.task-item {
  list-style-type: none;
  height: 100px;
  width: calc(100% - 25px);
  background-color: #f5f5f5;
  padding-left: 25px;
  font-size: large;
  border: solid 1px #ffffff;
}

.task-item-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}

.error-message {
  color: #ff3333;
}

.display-select-wrapper {
  width: 100px;
  margin: 0 0 25px auto;
}

.display-select {
  width: 100%;
}
