.newList {
  width: 500px;
  margin: 0 auto;
  margin-top: 24px;
}

.taskListTitleInput {
  width: 100%;
  border: 1px solid #55555545;
  font-size: 16px;
  border-radius: 8px;
  padding: 16px;
}

.newListTitle,
.titleInputLabel {
  display: block;
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 24px;
}

.newListTitle {
  margin-top: 40px;
}

.newListButton {
  background-color: #6bbcb6f0;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  margin-top: 24px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.newListButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.errorMessage {
  color: #ff3333d1;
}
