.new-list {
  width: 500px;
  margin: 0 auto;
  margin-top: 24px;
}

.taskList-title-input {
  width: 100%;
  border: 1px solid #55555545;
  font-size: 16px;
  border-radius: 8px;
  padding: 16px;
}

.new-list-title,
.title-input-label {
  display: block;
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
}

.new-list-title {
  margin-top: 40px;
}

.new-list-button {
  background-color: #6bbcb6f0;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  margin-top: 24px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.new-list-button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.error-message {
  color: #ff3333d1;
}
