@charset "utf-8";

.new-task {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: #555555;

    &-select-list,
    &-title,
    &-detail {
      width: 300px;
      margin-bottom: 25px;

      &-detail {
        height: 200px;

        &-button {
          background-color: #242f9b;
          color: #ffffff;
          width: 80px;
          height: 40px;
          border-radius: 5px;
        }
      }
    }
  }
}

.error-message {
  color: #ff3333;
}
