@charset "utf-8";

$primary-color: #242f9b;
$error-color: #ff3333;
$text-color: #555555;
$button-text-color: #ffffff;

.new-task {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: $text-color;
  }

  &-select-list,
  &-title,
  &-detail {
    width: 300px;
    margin-bottom: 25px;
  }

  &-detail {
    height: 200px;
  }

  &-button {
    background-color: $primary-color;
    color: $button-text-color;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}

.error-message {
  color: $error-color;
}
