@charset "utf-8";

.new-task {
  width: 1000px;
  margin: 0 auto;
}

.new-task-form {
  color: #555555;
}

.new-task-select-list, .new-task-title, .new-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: #242F9B;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}