.newTask {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 24px;
}

.newTaskTitle {
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 24px;
}

.taskSelectListLabel,
.titleInputLabel,
.detailInputLabel,
.limitInputLabel {
  display: block;
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 24px;
}

.newTaskSelectList,
.taskTitleInput,
.taskDetailInput,
.taskLimitInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #55555545;
  border-radius: 8px;
  padding: 12px;
  margin-top: 4px;
}

.taskDetailInput {
  height: 54px;
}

.newTaskButton {
  background-color: #6bbcb6f0;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  margin-top: 24px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.newTaskButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.errorMessage {
  color: #ff3333d1;
}

@media screen and (max-width: 768px) {
  .newTask {
    padding: 0 12px;
  }

  .newTaskTitle {
    font-size: 24px;
  }

  .taskSelectListLabel,
  .titleInputLabel,
  .detailInputLabel,
  .limitInputLabel {
    font-size: 16px;
    margin-top: 18px;
  }

  .newTaskButton {
    width: 100%;
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .newTaskTitle {
    font-size: 20px;
  }

  .newTaskSelectList,
  .taskTitleInput,
  .taskDetailInput,
  .taskLimitInput {
    font-size: 16px;
  }
}
