@charset "utf-8";

.signin {
  width: 500px;
  margin: 0 auto;

  &-form {
    margin: 25px 0;
  }

  &-button {
    background-color: #242F9B;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }

}

.email {
  &-label {
    color: #555555;
  }

  &-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

}

.password {
  &-label {
    color: #555555;
  }

  &-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

}

.error-message {
  color: #ff3333;
}


@media screen and (max-width: 768px) {
  .signin{
    width: 768px;
    text-align: center;
  }

  .email-input {
    max-width: 310px;
  }
  .password-input{
    max-width: 310px;
  }

}

@media screen and (max-width: 320px) {
  .signin {
    width: 320px;
    text-align: center;
  }

  .email-input {
    max-width: 310px;
  }
  .password-input{
    max-width: 310px;
  }
}