.signUp {
  width: 500px;
  margin: 0 auto;
  margin-top: 24px;
}

.signUpForm {
  margin-top: 8px;
}

.signUpTitle {
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
}

.emailLabel,
.nameInputLabel,
.passwordInputLabel {
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
}

.emailInput,
.nameInput,
.passwordInput {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #55555545;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 25px;
}

.signUpButton {
  background-color: #6bbcb6f0;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.signUpButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.errorMessage {
  color: #ff3333d1;
}

@media screen and (max-width: 375px) {
  .signUp {
    width: 300px;
    margin: 0 auto;
    margin-top: 24px;
  }

  .signUpTitle {
    font-size: 18px;
  }

  .emailLabel,
  .nameInputLabel,
  .passwordInputLabel {
    font-size: 12px;
    margin-top: 18px;
  }

  .emailInput,
  .nameInput,
  .passwordInput {
    padding: 18px;
    margin-top: 4px;
  }

  .signUpButton {
    width: 80px;
    height: 32px;
    font-size: 10px;
  }
}
