@charset "utf-8";

$primary-color: #242f9b;
$error-color: #ff3333;
$text-color: #555555;
$button-text-color: #ffffff;

.signup {
  width: 500px;
  margin: 0 auto;

  &-form {
    margin: 25px 0;
    color: $text-color;
  }

  .email-input,
  .name-input,
  .password-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

  &-button {
    background-color: $primary-color;
    color: $button-text-color;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}

.error-message {
  color: $error-color;
}
