.signIn {
  width: 500px;
  margin: 0 auto;
  margin-top: 24px;
}

.signInForm {
  margin-top: 16px;
}

.signInTitle {
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 40px;
}

.emailLabel,
.passwordLabel {
  display: block;
  color: #5555558a;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 16px;
}

.emailInput,
.passwordInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #55555545;
  border-radius: 8px;
  padding: 16px;
}

.signInButton {
  background-color: #6bbcb6f0;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  margin: 24px 0px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.signInButton:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.errorMessage {
  color: #ff3333d1;
}

.signUpLink {
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.signUpLink:hover {
  opacity: 0.4;
  transform: scale(1.05);
}

@media screen and (max-width: 375px) {
  .signIn {
    width: 300px;
    margin: 0 auto;
    margin-top: 24px;
  }

  .signInTitle {
    font-size: 18px;
  }

  .emailLabel,
  .passwordLabel {
    font-size: 12px;
    margin-top: 18px;
  }

  .emailInput,
  .passwordInput {
    padding: 12px;
    margin-top: 4px;
  }

  .signInButton {
    width: 80px;
    height: 32px;
    font-size: 10px;
    margin: 18px 0 12px;
  }

  .signUpLink {
    font-size: 12px;
  }
}
