@charset "utf-8";

$header-background-color: #242f9b;
$header-text-color: #ffffff;

.header {
	width: 100%;
	height: 80px;
	background-color: $header-background-color;
	color: $header-text-color;
	display: flex;
	justify-content: space-between;

	.sign-out-button {
		margin: auto 25px auto auto;
	}
}
