@charset "utf-8";

.header {
  width: 100%;
  height: 80px;
  background-color: #242F9B;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: #ffffff;
  margin: auto 25px auto auto;
}