@charset "utf-8";

$header-color: #242f9b;
$text-color: #ffffff;

.header {
  width: 100%;
  height: 80px;
  background-color: $header-color;
  color: $text-color;
  display: flex;
  justify-content: space-between;

  .sign-out-button {
    color: $text-color;
    margin: 25px;
  }
}
