.taskItemLink {
  text-decoration: none;
  color: #555555;
}

.taskTitle {
  font-size: 24px;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
}

.limit {
  font-size: 16px;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 16px;
}

.timeLeft {
  font-size: 16px;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 4px;
}

.done {
  font-size: 18px;
  font-family: 'TsukuARdGothic-Regular';
  font-weight: bold;
  margin-top: 4px;
}

@media screen and (max-width: 768px) {
  .taskTitle {
    font-size: 20px;
  }
}
