@import '@unocss/reset/tailwind.css';
@import '@fontsource/inter/400';
@import '@fontsource/inter/500';
@import '@fontsource/inter/700';

:root {
  --indigo-600: #4f46e5;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

.app_button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.app_button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.5);
}

.app_button:not(:disabled):hover {
  cursor: pointer;
  opacity: 0.8;
}

.app_button:not(:disabled):active {
  opacity: 0.6;
}

.app_button:not([data-variant='secondary']) {
  background-color: var(--indigo-600);
  color: #ffffff;
}

.app_button:not([data-variant='secondary']):disabled {
  background-color: var(--slate-300);
}

.app_button[data-variant='secondary'] {
  border: 1px solid currentColor;
  color: var(--indigo-600);
}

.app_button[data-variant='secondary']:disabled {
  color: var(--slate-300);
}

.main_content {
  padding-left: 320px;
}
