@import "@unocss/reset/tailwind.css";
@import "@fontsource/inter/400";
@import "@fontsource/inter/500";
@import "@fontsource/inter/700";

:root {
  --indigo-600: #4f46e5;

  --red-500: #ef4444;

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  --width-login-form: 420px;
  --width-edit-form: 600px;
  --width-main-content: 800px;

  font-family:
    Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

.main_content {
  padding: 80px 40px;
  padding-left: 360px;
  min-height: 100vh;
}
