@charset "utf-8";

// 変数定義
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$code-font-stack: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

// グローバルリセット
* {
  margin: 0;
  padding: 0;
}

// bodyスタイル
body {
  margin: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// codeブロック用のスタイル
code {
  font-family: $code-font-stack;
}

// buttonスタイル
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
